/* * {  clear: both; margin: 5px; padding: 5px;  } */ 

body {
  padding-top: 50px;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}

.board-cell{ height: 60px; text-align: center; font-size: 30px;   cursor: pointer; }

