<!DOCTYPE html>
<html lang="en" ng-app="TicTacToeApp">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
	<title>TicTacToe</title>
	
	<!--css-->
	<link href="css/style.css" rel="stylesheet" type="text/css"/>

	<!--Frameworks-->
	<!--Bootstrap-->
	<link href="vendors/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css"/> 
	<!--JQuery-->
	<script src="vendors/jquery/jquery-3.1.1.min.js" type="text/javascript" xml:space="preserve"></script>
	<!--Angular-->
	<script src="vendors/angular/angular.min.js" type="text/javascript" xml:space="preserve"></script>
	<!--Angular-Bootstrap-->
	<script src="vendors/bootstrap/js/ui-bootstrap-tpls-2.3.1.min.js" type="text/javascript" xml:space="preserve"></script>
	<!-- https://angular-ui.github.io/bootstrap/ -->
	<!-- app -->
    <script src="js/model/piece.js" type="text/javascript" xml:space="preserve"></script>
    <script src="js/app.js" type="text/javascript" xml:space="preserve"></script>
	<script src="js/controller/index.js" type="text/javascript" xml:space="preserve"></script>
</head>
<body ng-init="TicTacToeCtrl.initialize()" ng-controller="TicTacToeController as TicTacToeCtrl">

 <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">TicTacToe</a>
        </div>
      </div>
    </nav> 

	<div class="jumbotron">
		<div class="container">
			<h1>VideoClub <img src="images/logo.jpg" class="img-responsive img-circle pull-right col-md-4"/></h1>
			<h2>The universe of movies.</h2>
			
		</div>
	</div>

    <div class="container" >

		<table class="table table-bordered">
			<tr ng-repeat="row in TicTacToeCtrl.board track by $index">
				<td ng-repeat="cell in row track by $index" ng-click="TicTacToeCtrl.move($parent.$index, $index)">{{cell}}</td>
			</tr>
		</table>

		



		<div ng-show="action==='init'">
			<!-- No more hardcode! -->
			<!-- <select id="filmType" ng-model="VideoClubCtrl.filmType" class="form-control">
					<option ng-repeat="filmType in filmTypes" value="{{filmType.getId()}}">{{filmType.getName()}}</option>
			</select> -->

			<!-- Inside ng-model we have now the object and all its data -->
			<div class="form-group">
				<label for="film-type">Film type</label>
				<select id="film-type" class="form-control" ng-options="filmType.getName() for filmType in VideoClubCtrl.filmTypes" ng-model="VideoClubCtrl.filmType"></select>
			</div>
			<pre>{{ VideoClubCtrl.filmType }}</pre>

			<div class="form-group" ng-class="{'has-error': !VideoClubCtrl.validNFilms()}">
			    <label for="n-films">Number of films</label>
			    <input id="n-films" ng-model="VideoClubCtrl.nFilms" class="form-control" type="number" min="1"/>
			    <div ng-show="!VideoClubCtrl.validNFilms()" class="has-error">
			    <span class="help-block ">Please, enter a valid integer greater or equal to 1.</span>
			    </div>
			</div>
			<pre>{{ VideoClubCtrl.nFilms }}</pre>
		
			<button class="btn btn-primary pull-right" ng-click="VideoClubCtrl.addFilmsForm()">Add films</button>
		</div>
		<br/>
		<div ng-show="action==='add-films'">
			<add-films-view-form></add-films-view-form>
		</div>

		<footer>
			<br/><p>© 2016 DAW-M06, Institut Provençana.</p>
		</footer>
    </div>

</body>
</html>



   
