<!DOCTYPE html>
<html lang="en" ng-app="TicTacToeApp">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
	<title>TicTacToe</title>
	
	<!--css-->
	<link href="css/style.css" rel="stylesheet" type="text/css"/>

	<!--Frameworks-->
	<!--Bootstrap-->
	<link href="vendors/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css"/> 
	<!--JQuery-->
	<script src="vendors/jquery/jquery-3.1.1.min.js" type="text/javascript" xml:space="preserve"></script>
	<!--Angular-->
	<script src="vendors/angular/angular.min.js" type="text/javascript" xml:space="preserve"></script>
	<!--Angular-Bootstrap-->
	<script src="vendors/bootstrap/js/ui-bootstrap-tpls-2.3.1.min.js" type="text/javascript" xml:space="preserve"></script>
	<!-- https://angular-ui.github.io/bootstrap/ -->
	<!-- app -->
    <script src="js/model/piece.js" type="text/javascript" xml:space="preserve"></script>
    <script src="js/app.js" type="text/javascript" xml:space="preserve"></script>
	<script src="js/controller/index.js" type="text/javascript" xml:space="preserve"></script>
</head>
<body ng-init="TicTacToeCtrl.initialize()" ng-controller="TicTacToeController as TicTacToeCtrl">

 <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">TicTacToe</a>
        </div>
      </div>
    </nav> 

	<div class="jumbotron">
		<div class="container">
			<h1>TicTacToe</h1>
			<h2>Beat yourself with this awesome implementation of the classic game.</h2>
		</div>
	</div>

    <div class="container" >
		<table class="table table-bordered">
			<tr ng-repeat="row in TicTacToeCtrl.board track by $index">
				<td class="col-md-3 board-cell" ng-repeat="cell in row track by $index" ng-click="TicTacToeCtrl.move($parent.$index, $index)">{{cell}}</td>
			</tr>
		</table>
		<button class="pull-right" ng-click="TicTacToeCtrl.initialize()">Restart</button>

		<footer>
			<br/><p>© 2017 DAW-M06, Institut Provençana.</p>
		</footer>
    </div>

</body>
</html>



   
